{% extends 'base.html' %}
{%load static%}

{% block extra_headers %}

  <link rel="stylesheet" href= "{% static './books/books.css' %}">

{% endblock extra_headers %}

{% block content %}
<div class="my-container black-background bg-changed1">
    <h1> Books </h1>
    <form autocomplete="off" class="src-form" action="#">
        <input type="text" placeholder="Book title" id="user-input">
    </form>
    <br>
    <table class="table table-responsive-lg">
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th> Publisher </th>
            <th> Preview </th>
        </tr>
        </thead>
        <tbody id='result'>
    
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static './books/books.js' %}"></script>
</div>
{% endblock %}

