{% extends 'base.html' %}
{%load static%}

{% block extra_headers %}

  <link rel="stylesheet" href= "{% static './login/login.css' %}">

{% endblock extra_headers %}

{% block content %}
<h3> Login </h3>
<form method="POST">
    {% csrf_token %}
        {{ form }}
    <br>
    <button type="submit" class="btn btn-secondary"> Login </button>
            <br>
            <br>
        <h6> Doesn't have an account? <a href="{% url 'story10:register' %}">Register</a></h6>
</form>



{% endblock %}