{% extends 'base.html' %}
{%load static%}

{% block extra_headers %}

  <link rel="stylesheet" href= "{% static './login/login.css' %}">

{% endblock extra_headers %}

{% block content %}
<h3> Create Account </h3>
    <form method="POST">
            {% csrf_token %}
              {{ form }}
        <br>
    <button type="submit" class="btn btn-secondary"> Create </button>
            <br>
            <br>
        <h6>Already have an account? <a href="{% url 'story10:login' %}">Login</a></h6>
    </form>


 </form>

{% endblock %}