{% extends 'base.html' %}
{%load static%}

{% block extra_headers %}

  <link rel="stylesheet" href= "{% static './login/login.css' %}">

{% endblock extra_headers %}

{% block content%}
<div class="container">
<br>
<br>
<br>
    <h2> Welcome {{ user.username }}</h2>
  </div>
</div>
{% endblock %}
