{% extends 'base.html' %}
{%load static%}

{% block extra_headers %}

  <link rel="stylesheet" href= "{% static './funfact/funfact.css' %}">

{% endblock extra_headers %}

{% block content %}

  <button class="accordion" >
    Favorite Food 
    <a class="up"> ^ </a>
    <a class="down"> V </a>
  </button>
  <div class="panel">
      <li> Fried Chicken </li>
      <li> Fettuchini </li>
  </div>
<button class="accordion"> 
    Activities     
    <a class="up"> ^ </a>
    <a class="down"> V </a>
  </button>
  <div class = "panel">
    <ul>
        <li> Code </li>
        <li> Eat </li>
        <li> Cry </li>
        <li> Sleep </li>
        <li> Laugh </li>
        <li> Repeat </li>
    </ul>
  </div>
<button class="accordion"> 
  Experiences 
  <a class="up"> ^ </a>
  <a class="down"> V </a>
</button>
  <div class="panel"> 
    <ul>
        <li> Staff Of Playground COMPFEST 12 </li>
        <li> Staff of Sport Departmen BEM Fasikom UI 2020 </li>
        <li> Liaison Officer at Online Young Lead Summit </li>
        <li> Volunteer at Panda Mobile WWF Indonesia </li>
        <li> Vice Person in Charge Liaison Officer Open House Fasilkom UI 2020</li>
        <li> Staff of Event Wisuda Ganjil Fasilkom UI 2019</li>
        <li> Staff of Futsal Planner PERAK Fasilkom UI 2019</li> 
    </ul>
  </div>

<button class="accordion"> 
  Achievement 
    <a class="up"> ^ </a>
    <a class="down"> V </a>
  </button>
  <div class="panel">
    :)
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static './funfact/funfact.js' %}"> </script>
{% endblock %}

