body {
    border: 20px solid #bdc3c7;
    text-align: center;
    width: 75%;
    margin: 1.0em auto;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem;
    letter-spacing: 0.2rem;
}

th{
    color:#2c3e50;
}

img{
    height: 15.0rem;
    width: 11.0rem;
    display : block; 
    margin: auto;
    mix-blend-mode: normal;
    border-radius: 13px;
    margin-bottom: 1.0rem;
}


h3 {
    color: #2c3e50;
    margin-top: 2.0rem;
    margin-bottom: 1.0rem;
    font-weight: 600;
    font-size: 1.5em;
}
h2 {
    text-transform: capitalize;
    color: #2c3e50;
    font-size: 2.9rem;
    text-align: center;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.7rem;
    font-weight: 600;
}

em {
    letter-spacing: 0.12rem;
}
ul {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    line-height: 3.0rem;
    list-style-type: none;
}

p{
    letter-spacing: 0.2rem; 
    margin-bottom: 1.5rem;
    font-size: 1.0rem;
}