{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Raniah Nur Hanami </title>
  <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Custom Headers -->
  {% block extra_headers %}
  {% endblock %}
</head>
<body> 
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story7:funfact' %}">Funfact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story8:books' %}">Books</a>
                </li>
            </ul>
            <a class="nav-link" href="{% url 'story10:logout' %}">Logout</a>
        </div>
    </nav>

    {% else %}
        <br>
        <br>
        <h2> Hello There! </h2>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
<html>