.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-align: left;
}
  
.accordion:hover {
    background-color: #2c3e50; 
    color : white;
  }
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.up {
    float: right;
    border : 1px solid black;
    text-align: right;
    padding : 0.5%;
    color : black;
}

.down {
    border : 1px solid black;
    text-align: right;
    margin-right: 2%;
    float: right;
    padding : 0.5%;
    color : black;
}

.active, .down:hover {
    color: white;
}

.active, .up:hover {
    color: white;
}